@{
    ViewData["Title"] = "About Joel";
}

<h1>Get to Know Joel</h1>


<div>
    <p>Visit <a href="https://www.qwcomedy.com/">QW Comedy</a> for some laughs! I perform here regularly along with many of my friends!</p>

</div>

<br />

<div>
    <p>Or you can visit <a href="https://baconsale.com/">Bacon Sale</a> if you are interested in listing to my weekly podcast.</p>

    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" alt="Four friends laughing together" height="300">
    </a>
</div>