@{
    ViewData["Title"] = "Home Page";
}

<h1> The Joel Hilton Film Collection</h1>


<div>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

@* <div>
    <a asp-controller="Home" asp-action="Waitlist">View Wait List</a>
</div> *@
